<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Super Fraps, Siempre de vacaciones">
        <meta name="keywords" content="Super Fraps, malteadas, frozen teas, smoothies">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon-superfraps/apple-touch-icon.jpg">
        <link rel="icon" type="image/jpeg" sizes="32x32" href="../img/favicon-superfraps/favicon-32x32.jpg">
        <link rel="icon" type="image/jpeg" sizes="16x16" href="../img/favicon-superfraps/favicon-16x16.jpg">
        <link rel="manifest" href="../img/favicon-superfraps/site.webmanifest">
        <!--ICONOS-->
        <script src="https://kit.fontawesome.com/493c91d412.js" crossorigin="anonymous"></script>
        <!--BOOTSTRAP CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--Bootstrap Jquery, popper, js-->
        <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/nosotros.css">
        <title>Super Fraps</title>
    </head>
    <body>
       <!--  MENU -->
        <header class="header-views">
            <nav class="navbar navbar-expand-lg navmenu">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/Logos-07.png" class="logo-img" alt="Super Fraps" title="Logo Super Fraps">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navmenu__icon"><i class="fas fa-bars fa-lg"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link navmenu__link" href="./productos.html">Menú</a>
                        <a class="nav-item nav-link navmenu__link" href="./nosotros.html">Nosotros</a>
                        <a class="nav-item nav-link navmenu__link" href="./ecofriendly.html">Eco Friendly</a>
                        <a class="nav-item nav-link navmenu__link" href="./contacto.html">Contacto</a>
                    </div>
                </div>
            </nav>
        </header>
        
        <section>
            <div class="nos__banner__img"> 
                <div class="nos__banner__text">
                    <h4 class="nos__banner__text__title">SOMOS EL CAMBIO QUE QUEREMOS VER EN EL MUNDO</h4>
                    <p class="nos__banner__text__sentence">Estamos comprometidos con tu bienestar mejorando tu experiencia por medio de smoothies y malteadas naturales y saludables.</p>
                </div>
            </div>
        </section>

        <section>
            <h3 class="nos__title">SOBRE NOSOTROS</h3>
        </section>

        <section class="nos__mision__mobile">
            <div class="nos__mision__mobile__img first-img"> </div>
                <div class="nos__mision__mobile__text first-text">
                    <h4 class="nos__mision__mobile__text__title">Nuestra misión</h4>
                    <p class="nos__mision__mobile__text__sentence">Inspirar y nutrir la esencia de los seres humanos. Somos el cambio que queremos ver en el mundo. Lo logramos un <b>Super Frap</b> a la vez.</p>
                </div>
            <div class="nos__mision__mobile__img second-img"> </div>
                <div class="nos__mision__mobile__text second-text">
                    <h4 class="nos__mision__mobile__text__title">Nuestra visión</h4>
                    <p class="nos__mision__mobile__text__sentence">Ser la empresa de bebidas naturales más sostenible, consciente y con mayor presencia a nivel mundial.</p>
                </div>
        </section>

        <section class="nos__mision__768px">
            <div class="nos__mision">
                <div class="nos__mision__text first-text">
                    <h4 class="nos__mision__text__title">Nuestra misión</h4>
                    <p class="nos__mision__text__sentence">Inspirar y nutrir la esencia de los seres humanos. Somos el cambio que queremos ver en el mundo. Lo logramos un <b>Super Frap</b> a la vez.</p>
                </div>
                <img class="nos__mision__img" src="../img/nosotros-mision.jpg" alt="Nuestra misión">
                <div class="nos__mision__text second-text">
                    <h4 class="nos__mision__text__title">Nuestra visión</h4>
                    <p class="nos__mision__text__sentence">Ser la empresa de bebidas naturales más sostenible, consciente y con mayor presencia a nivel mundial.</p>
                </div>
                <img class="nos__mision__img" src="../img/nosotros-vision.jpg" alt="Nuestra visión">
            </div>
        </section>

        <section>
            <div class="nos__values__bg">
                <div class="nos__values__content">
                <h4 class="nos__values__title">Nuestros valores</h4>
                <div class="nos__values__container">
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">FAMILIA</h6>
                        <p class="m-0 nos__values__boxes__text-family">Más que un equipo,</p>
                        <p class="nos__values__boxes__text">somos una familia.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">AMOR Y ESENCIA</h6>
                        <p class="nos__values__boxes__text">Construimos desde el amor y la esencia, esta es nuestra clave para el éxito.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">CONCIENCIA</h6>
                        <p class="nos__values__boxes__text">Contribuimos a la consciencia colectiva, juntos llegamos más lejos.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">LIDERAZGO</h6>
                        <p class="nos__values__boxes__text">Somos líderes, inspiramos y motivamos a través del ejemplo. Buscamos la excelencia a través de la humildad.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">SOSTENIBILIDAD</h6>
                        <p class="nos__values__boxes__text">La naturaleza nos brinda lo mejor de ella, nosotros lo transformamos, distribuimos conscientemente.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">CONSUMIDOR</h6>
                        <p class="nos__values__boxes__text">Nuestros consumidores valoran productos saludables, deliciosos, nutritivos y naturales.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">COMUNIDAD</h6>
                        <p class="nos__values__boxes__text">Más que clientes, proveedores, colaboradores y accionistas creamos 
                            una comunidad.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">ENFOQUE</h6>
                        <p class="nos__values__boxes__text">Pies en la tierra. Nuestra cabeza, enfocada en la expansión mundial.</p>
                    </div>
                    <div class="nos__values__boxes">
                        <h6 class="nos__values__boxes__title">HOMO-SOLIDARIUS</h6>
                        <p class="nos__values__boxes__text">Si te identificas con nuestros valores, eres parte de nuestra familia. Bienvenido</p>
                    </div>
                </div>
            </div>
        </section>

        <!--WHATSAPP ICON-->
        <section>
            <div class="wapp-box">
                <a class="wapp" href="https://api.whatsapp.com/send?phone=5491163501252&text=¡Hola!%20Me%20gustaría%20tener%20más%20información%20para%20vender%20Super%20Fraps%20en%20mi%20negocio.%20Mi%20nombre%20es%20" target="_blank">
                    <i class="fa fa-whatsapp wapp-icon"></i>
                </a>
            </div>
        </section>

        <!--FOOTER MOBILE-->
        <footer class="container-fluid footer-mobile-box">
            <div class="footer-mobile">
                <a href="../index.html" class="footer-mobile__logo">
                    <img src="../img/Logos-06.png" class="footer-mobile__logo__img" alt="Super Fraps" title="Super Fraps">
                </a>
                <div class="footer-mobile-block">
                    <p><a href="./productos.html">Menú</a></p>
                    <p><a href="./nosotros.html">Nosotros</a></p>
                    <p><a href="./ecofriendly.html">Eco Friendly</a></p>
                    <p><a href="./contacto.html">Contacto</a></p>
                </div>
                <div class="footer-mobile-block">
                    <p class="footer-mobile-text"><a href="https://wa.me/5491163501252?text=¡Hola!%20Me%20gustaría%20tener%20más%20información%20para%20vender%20Super%20Fraps%20en%20mi%20negocio.%20Mi%20nombre%20es%20" target="blank"><i class="fab fa-whatsapp footer-mobile-icon"></i> 1111111111</a></p>
                    <p class="footer-mobile-text"><a href="https://open.spotify.com/playlist/5ZFIbRcJcqN1BqmHFRFZun" target="blank"><i class="fab fa-spotify footer-mobile-icon"></i> Super Fraps Vibes</a></p>
                    <p class="footer-mobile-text"><a href="https://www.instagram.com/superfraps/?hl=es" target="blank"><i class="fab fa-instagram footer-mobile-icon"></i> @SuperFraps</a></p>
                </div>
            </div>
        </footer>

        <!--FOOTER-->
        <footer class="container-fluid footer-box">
            <div class="footer">
                <a href="../index.html" class="footer__logo">
                    <img src="../img/Logos-06.png" class="footer__logo__img" alt="Super Fraps" title="Super Fraps">
                </a>
                <div class="footer-blocks">
                    <div class="footer__block">
                        <p><a class="link-shadow" href="./productos.html#smoothies">Smoothies</a></p>
                        <p><a class="link-shadow" href="./productos.html#malteadas">Malteadas</a></p>
                        <p><a class="link-shadow" href="./productos.html#frozen-tea">Frozen Teas</a></p>
                    </div>
                    <div class="footer__block">
                        <p><a class="link-shadow" href="./ecofriendly.html">Eco Friendly</a></p>
                        <p><a class="link-shadow" href="./nosotros.html">Nosotros</a></p>
                        <p><a class="link-shadow" href="./contacto.html">Contacto</a></p>
                    </div>
                </div>
                    <div class="footer-blocks">
                    <div class="footer__block">
                        <p><a href="https://wa.me/5491163501252?text=¡Hola!%20Me%20gustaría%20tener%20más%20información%20para%20vender%20Super%20Fraps%20en%20mi%20negocio.%20Mi%20nombre%20es%20" target="blank" class="footer-link link-shadow"><i class="fab fa-whatsapp footer-icon"></i> 1111111111</a></p>
                    </div>
                    <div class="footer__block">
                        <p><a href="https://open.spotify.com/playlist/5ZFIbRcJcqN1BqmHFRFZun" target="blank" class="footer-link link-shadow"><i class="fab fa-spotify footer-icon"></i> Super Fraps Vibes</a></p>
                        <p><a href="https://www.instagram.com/superfraps/?hl=es" target="blank" class="footer-link link-shadow"><i class="fab fa-instagram footer-icon"></i> @SuperFraps</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>