<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Super Fraps, Siempre de vacaciones">
        <meta name="keywords" content="Super Fraps, malteadas, frozen teas, smoothies">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon-superfraps/apple-touch-icon.jpg">
        <link rel="icon" type="image/jpeg" sizes="32x32" href="../img/favicon-superfraps/favicon-32x32.jpg">
        <link rel="icon" type="image/jpeg" sizes="16x16" href="../img/favicon-superfraps/favicon-16x16.jpg">
        <link rel="manifest" href="../img/favicon-superfraps/site.webmanifest">
        <!--ICONOS-->
        <script src="https://kit.fontawesome.com/493c91d412.js" crossorigin="anonymous"></script>
        <!--BOOTSTRAP CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--Bootstrap Jquery, popper, js-->
        <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/productos.css">
        <title>Super Fraps</title>
    </head>
    <body>
       <!--  MENU -->
        <header class="header-views">
            <nav class="navbar navbar-expand-lg navmenu">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/Logos-07.png" class="logo-img" alt="Super Fraps" title="Logo Super Fraps">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navmenu__icon"><i class="fas fa-bars fa-lg"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link navmenu__link" href="./productos.html">Menú</a>
                      <a class="nav-item nav-link navmenu__link" href="./nosotros.html">Nosotros</a>
                      <a class="nav-item nav-link navmenu__link" href="./ecofriendly.html">Eco Friendly</a>
                      <a class="nav-item nav-link navmenu__link" href="./contacto.html">Contacto</a>
                    </div>
                </div>
            </nav>
        </header>
        
        <!--BANNER-->
        <section> 
            <div class="products-banner"> </div>
        </section>

        <!--PRODUCTOS-->
        <section>
            <h3 class="product-title" id="smoothies">SMOOTHIES</h3>
            <div class="product-container">
                <div class="product-unit" type="button" data-toggle="modal" data-target="#almaModal">
                    <img src="../img/SMOOTHIE-01-ALMA-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">ALMA</p>
                    <p class="product-unit__text">Coco y Limón</p>
                </div>
                <div class="modal fade" id="almaModal" tabindex="-1" role="dialog" aria-labelledby="almaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="almaModalLabel">ALMA</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 01 ALMA-24.jpg" class="product-unit__modal__img" alt="ALMA">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="product-unit" type="button" data-toggle="modal" data-target="#limoPunchModal">
                    <img src="../img/SMOOTHIE-02-LIMO PUNCH-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">LIMO PUNCH</p>
                    <p class="product-unit__text">Limón y Limoncillo</p>
                </div>
                <div class="modal fade" id="limoPunchModal" tabindex="-1" role="dialog" aria-labelledby="limoPunchModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="limoPunchModalLabel">LIMO PUNCH</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 02 LIMO PUNCH-24.jpg" class="product-unit__modal__img" alt="LIMO PUNCH">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="product-unit" type="button" data-toggle="modal" data-target="#pinaColadaModal">
                    <img src="../img/SMOOTHIE-03-PINA COLADA-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">PIÑA COLADA</p>
                    <p class="product-unit__text">Piña, Coco, Limón y Vainilla</p>
                </div>
                <div class="modal fade" id="pinaColadaModal" tabindex="-1" role="dialog" aria-labelledby="pinaColadaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="pinaColadaModalLabel">PIÑA COLADA</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 03 PINA COLADA-24.jpg" class="product-unit__modal__img" alt="PIÑA COLADA">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#happyModal">
                    <img src="../img/SMOOTHIE-04-HAPPY-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">HAPPY</p>
                    <p class="product-unit__text">Maracuyá, Mango, Durazno y Limón</p>
                </div>
                <div class="modal fade" id="happyModal" tabindex="-1" role="dialog" aria-labelledby="happyModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="happyModalLabel">HAPPY</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 04 HAPPY-24.jpg" class="product-unit__modal__img" alt="HAPPY">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#despertarModal">
                    <img src="../img/SMOOTHIE-05-DESPERTAR-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">DESPERTAR</p>
                    <p class="product-unit__text">Mandarina, Limón, Naranja y Zanahoria</p>
                </div>
                <div class="modal fade" id="despertarModal" tabindex="-1" role="dialog" aria-labelledby="despertarModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="despertarModalLabel">DESPERTAR</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 05 DEPERTAR-24.jpg" class="product-unit__modal__img" alt="DESPERTAR">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#superLoverModal">
                    <img src="../img/SMOOTHIE-06-SUPER LOVER-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">SUPER LOVER</p>
                    <p class="product-unit__text">Sandía, Fresa, Mandarina y Limón</p>
                </div>
                <div class="modal fade" id="superLoverModal" tabindex="-1" role="dialog" aria-labelledby="superLoverModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="superLoverModalLabel">SUPER LOVER</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 06 SUPER LOVER-24.jpg" class="product-unit__modal__img" alt="SUPER LOVER">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#sexyPinkModal">
                    <img src="../img/SMOOTHIE-07-SEXY PINK-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">SEXY PINK</p>
                    <p class="product-unit__text">Cereza, Limón y Flor de Jamaica</p>
                </div>
                <div class="modal fade" id="sexyPinkModal" tabindex="-1" role="dialog" aria-labelledby="sexyPinkModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="sexyPinkModalLabel">SEXY PINK</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 07 SEXY PINK-24.jpg" class="product-unit__modal__img" alt="SEXY PINK">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#magiaSilvestreModal">
                    <img src="../img/SMOOTHIE-08-MAGIA SILVESTRE-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">MAGIA SILVESTRE</p>
                    <p class="product-unit__text">Mora, Uva, Fresa y Guanábana</p>
                </div>
                <div class="modal fade" id="magiaSilvestreModal" tabindex="-1" role="dialog" aria-labelledby="magiaSilvestreModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="magiaSilvestreModalLabel">MAGIA SILVESTRE</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 08 MAGIA SILVESTRE-24.jpg" class="product-unit__modal__img" alt="MAGIA SILVESTRE">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#superCoolModal">
                    <img src="../img/SMOOTHIE-09-SUPER COOL-03 (1).png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">SUPER COOL</p>
                    <p class="product-unit__text">Blueberry, Fresa, Banano y Limón</p>
                </div>
                <div class="modal fade" id="superCoolModal" tabindex="-1" role="dialog" aria-labelledby="superCoolModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="superCoolModalLabel">SUPER COOL</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 09 SUPER COOL-24.jpg" class="product-unit__modal__img" alt="SUPER COOL">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#superGreenModal">
                    <img src="../img/SMOOTHIE-10-SUPER GREEN-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">SUPER GREEN</p>
                    <p class="product-unit__text">Espinaca, Pepino, Perejil, Hierbabuena, Apio, Jengibre, Manz. V, Piña y Limón</p>
                </div>
                <div class="modal fade" id="superGreenModal" tabindex="-1" role="dialog" aria-labelledby="superGreenModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="superGreenModalLabel">SUPER GREEN</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 10 SUPER GREEN-24.jpg" class="product-unit__modal__img" alt="SUPER GREEN">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#aventuraModal">
                    <img src="../img/SMOOTHIE-11-AVENTURA-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">AVENTURA</p>
                    <p class="product-unit__text">Lulo y Limón</p>
                </div>
                <div class="modal fade" id="aventuraModal" tabindex="-1" role="dialog" aria-labelledby="aventuraModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="aventuraModalLabel">AVENTURA</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 11 AVENTURA-24.jpg" class="product-unit__modal__img" alt="AVENTURA">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#crazyBicheModal">
                    <img src="../img/SMOOTHIE-12-CRAZY BICHE-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">CRAZY BICHE</p>
                    <p class="product-unit__text">Mango, Biche, Limón y Sal</p>
                </div>
                <div class="modal fade" id="crazyBicheModal" tabindex="-1" role="dialog" aria-labelledby="crazyBicheModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="crazyBicheModalLabel">CRAZY BICHE</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Smoothie 12 CRAZY BICHE-24.jpg" class="product-unit__modal__img" alt="CRAZY BICHE">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <h3 class="product-title" id="malteadas">MALTEADAS</h3>
            <div class="product-container">
                <div class="product-unit" type="button" data-toggle="modal" data-target="#vainillaFrancesaModal">
                    <img src="../img/MALTEADA-01-VAINILLA FRANCESA-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">VAINILLA FRANCESA</p>
                    <p class="product-unit__text">Mezcla de vainillas</p>
                </div>
                <div class="modal fade" id="vainillaFrancesaModal" tabindex="-1" role="dialog" aria-labelledby="vainillaFrancesaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="vainillaFrancesaModalLabel">VAINILLA FRANCESA</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 02 VAINILLA FRANCESA-24.jpg" class="product-unit__modal__img" alt="VAINILLA FRANCESA">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#cookiesCreamModal">
                    <img src="../img/MALTEADA-02-COOKIES AND CREAM-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">COOKIES & CREAM</p>
                    <p class="product-unit__text">Galletitas y Vainilla</p>
                </div>
                <div class="modal fade" id="cookiesCreamModal" tabindex="-1" role="dialog" aria-labelledby="cookiesCreamModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="cookiesCreamModalLabel">COOKIES & CREAM</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 03 COOKIES AND CREAM-24.jpg" class="product-unit__modal__img" alt="COOKIES & CREAM">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#maniRocksModal">
                    <img src="../img/MALTEADA-03-MANI ROCKS-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">MANI ROCKS</p>
                    <p class="product-unit__text">Mani, Vainilla y Mora</p>
                </div>
                <div class="modal fade" id="maniRocksModal" tabindex="-1" role="dialog" aria-labelledby="maniRocksModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="maniRocksModalLabel">MANI ROCKS</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 05 MANI ROCKS-24.jpg" class="product-unit__modal__img" alt="MANI ROCKS">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#fresyPopModal">
                    <img src="../img/MALTEADA-04-FRESY POP-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">FRESY POP</p>
                    <p class="product-unit__text">Fresa y Vainilla</p>
                </div>
                <div class="modal fade" id="fresyPopModal" tabindex="-1" role="dialog" aria-labelledby="fresyPopModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="fresyPopModalLabel">FRESY POP</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 01 FRESY POP-24.jpg" class="product-unit__modal__img" alt="FRESY POP">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#pistachoPancakeModal">
                    <img src="../img/MALTEADA-05-PISTACHO PANCAKE-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">PISTACHO PANCAKE</p>
                    <p class="product-unit__text">Pistacho,Vainilla, Banano y Avena</p>
                </div>
                <div class="modal fade" id="pistachoPancakeModal" tabindex="-1" role="dialog" aria-labelledby="pistachoPancakeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="pistachoPancakeModalLabel">PISTACHO PANCAKE</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 04 PISTACHO PANCAKE-24.jpg" class="product-unit__modal__img" alt="PISTACHO PANCAKE">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#frapuVainillaModal">
                    <img src="../img/MALTEADA-06-FRAPU VAINILLA-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">FRAPU VAINILLA</p>
                    <p class="product-unit__text mb-0">Café y Vainilla</p>
                    <p class="product-unit__text mt-0">*Pedilo con Canela</p>
                </div>
                <div class="modal fade" id="frapuVainillaModal" tabindex="-1" role="dialog" aria-labelledby="frapuVainillaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="frapuVainillaModalLabel">FRAPU VAINILLA</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 06 FRAPU VAINILLA-24.jpg" class="product-unit__modal__img" alt="FRAPU VAINILLA">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#chocoAvellanasModal">
                    <img src="../img/MALTEADA-07-CHOCO AVELLANAS-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">CHOCO AVELLANAS</p>
                    <p class="product-unit__text">Pistacho,Vainilla, Banano y Avena</p>
                </div>
                <div class="modal fade" id="chocoAvellanasModal" tabindex="-1" role="dialog" aria-labelledby="chocoAvellanasModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="chocoAvellanasModalLabel">CHOCO AVELLANAS</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Malteada 07 CHOCOAVELLANAS-24.jpg" class="product-unit__modal__img" alt="CHOCO AVELLANAS">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
            <h3 class="product-title" id="frozen-tea">FROZEN TEAS</h3>
            <div class="product-container">
                <div class="product-unit" type="button" data-toggle="modal" data-target="#namasteModal">
                    <img src="../img/FROZEN TEA-01-NAMASTE-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">NAMASTE</p>
                    <p class="product-unit__text">Té Verde, Manzanilla Jengibre y Limón</p>
                </div>
                <div class="modal fade" id="namasteModal" tabindex="-1" role="dialog" aria-labelledby="namasteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="namasteModalLabel">NAMASTE</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Frozen Tea 02 NAMASTE-24.jpg" class="product-unit__modal__img" alt="NAMASTE">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#matchaSalvajeModal">
                    <img src="../img/FROZEN TEA-02-MATCHA SALVAJE-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">MATCHA SALVAJE</p>
                    <p class="product-unit__text">Té Matcha, Macadamia y Vainilla</p>
                </div>
                <div class="modal fade" id="matchaSalvajeModal" tabindex="-1" role="dialog" aria-labelledby="matchaSalvajeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="matchaSalvajeModalLabel">MATCHA SALVAJE</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Frozen Tea 04 MATCHA SALVAJE-24.jpg" class="product-unit__modal__img" alt="MATCHA SALVAJE">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#zenTeaModal">
                    <img src="../img/FROZEN TEA-03-ZEN TEA-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">ZEN TEA</p>
                    <p class="product-unit__text">Té Negro, Limón y Vainilla</p>
                </div>
                <div class="modal fade" id="zenTeaModal" tabindex="-1" role="dialog" aria-labelledby="zenTeaModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="zenTeaModalLabel">ZEN TEA</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Frozen Tea 01 ZEN TEA-24.jpg" class="product-unit__modal__img" alt="ZEN TEA">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="product-unit" type="button" data-toggle="modal" data-target="#indiChaiModal">
                    <img src="../img/FROZEN TEA-04-INDI CHAI-03.png" class="product-unit__img" alt="Super Fraps">
                    <p class="product-unit__title">INDI CHAI</p>
                    <p class="product-unit__text">Té Negro, Vainilla, Canela, Cardamomo, Clavos y Jengibre</p>
                </div>
                <div class="modal fade" id="indiChaiModal" tabindex="-1" role="dialog" aria-labelledby="indiChaiModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="indiChaiModalLabel">INDI CHAI</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <img src="../img/tablas/Frozen Tea 02 INDI CHAI-24.jpg" class="product-unit__modal__img" alt="INDI CHAI">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </section>

        <!--WHATSAPP ICON-->
        <section>
            <div class="wapp-box">
                <a class="wapp" href="https://api.whatsapp.com/send?phone=5491163501252&text=¡Hola!%20Me%20gustaría%20tener%20más%20información%20para%20vender%20Super%20Fraps%20en%20mi%20negocio.%20Mi%20nombre%20es%20" target="_blank">
                    <i class="fa fa-whatsapp wapp-icon"></i>
                </a>
            </div>
        </section>
        
        <!--FOOTER MOBILE-->
        <footer class="container-fluid footer-mobile-box">
          <div class="footer-mobile">
              <a href="../index.html" class="footer-mobile__logo">
                  <img src="../img/Logos-06.png" class="footer-mobile__logo__img" alt="Super Fraps" title="Super Fraps">
              </a>
              <div class="footer-mobile-block">
                  <p><a href="./productos.html">Menú</a></p>
                  <p><a href="./nosotros.html">Nosotros</a></p>
                  <p><a href="./ecofriendly.html">Eco Friendly</a></p>
                  <p><a href="./contacto.html">Contacto</a></p>
              </div>
              <div class="footer-mobile-block">
                  <p class="footer-mobile-text"><a href="https://wa.me/5491163501252?text=¡Hola!%20Me%20gustaría%20tener%20más%20información%20para%20vender%20Super%20Fraps%20en%20mi%20negocio.%20Mi%20nombre%20es%20" target="blank"><i class="fab fa-whatsapp footer-mobile-icon"></i> 1111111111</a></p>
                  <p class="footer-mobile-text"><a href="https://open.spotify.com/playlist/5ZFIbRcJcqN1BqmHFRFZun" target="blank"><i class="fab fa-spotify footer-mobile-icon"></i> Super Fraps Vibes</a></p>
                  <p class="footer-mobile-text"><a href="https://www.instagram.com/superfraps/?hl=es" target="blank"><i class="fab fa-instagram footer-mobile-icon"></i> @SuperFraps</a></p>
              </div>
          </div>
        </footer>

        <!--FOOTER-->
        <footer class="container-fluid footer-box">
            <div class="footer">
                <a href="../index.html" class="footer__logo">
                    <img src="../img/Logos-06.png" class="footer__logo__img" alt="Super Fraps" title="Super Fraps">
                </a>
                <div class="footer-blocks">
                    <div class="footer__block">
                        <p><a class="link-shadow" href="./productos.html#smoothies">Smoothies</a></p>
                        <p><a class="link-shadow" href="./productos.html#malteadas">Malteadas</a></p>
                        <p><a class="link-shadow" href="./productos.html#frozen-tea">Frozen Teas</a></p>
                    </div>
                    <div class="footer__block">
                        <p><a class="link-shadow" href="./ecofriendly.html">Eco Friendly</a></p>
                        <p><a class="link-shadow" href="./nosotros.html">Nosotros</a></p>
                        <p><a class="link-shadow" href="./contacto.html">Contacto</a></p>
                    </div>
                </div>
                    <div class="footer-blocks">
                    <div class="footer__block">
                        <p><a href="https://wa.me/5491163501252?text=¡Hola!%20Me%20gustaría%20tener%20más%20información%20para%20vender%20Super%20Fraps%20en%20mi%20negocio.%20Mi%20nombre%20es%20" target="blank" class="footer-link link-shadow"><i class="fab fa-whatsapp footer-icon"></i> 1111111111</a></p>
                    </div>
                    <div class="footer__block">
                        <p><a href="https://open.spotify.com/playlist/5ZFIbRcJcqN1BqmHFRFZun" target="blank" class="footer-link link-shadow"><i class="fab fa-spotify footer-icon"></i> Super Fraps Vibes</a></p>
                        <p><a href="https://www.instagram.com/superfraps/?hl=es" target="blank" class="footer-link link-shadow"><i class="fab fa-instagram footer-icon"></i> @SuperFraps</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>