.contact-banner{
    height: 350px;
    width: 100%;
    background-image: url("../../img/palmtrees-lg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(222,224,221);
}
.contact__title{
  font-family: MadeTomyBold ;
} 
.text-black {
  color: #000; }
.content {
  padding: 2rem 0; }
.heading {
  font-size: 2.5rem;
  font-weight: 900; }
.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none; }
.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }
.col-form-label {
  color: #000;
  font-size: 13px; }
.btn, .form-control, .custom-select {
  height: 45px;
  border-radius: 0; }
.custom-select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0; }
.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }
  .btn {
    border: none;
    border-radius: 0;
    font-size: .9em;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-radius: 10px !important; }
    .btn.btn-primary {
      font-family: MadeTomyBold;
      border-radius: 30px;
      background: black;
      color: #fff;
      -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
      box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2); }
    .btn:hover {
      color: #fff; }
    .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #efefef; }
    .contact-wrap .col-form-label {
      font-size: 14px;
      color: #b3b3b3;
      margin: 0 0 10px 0;
      display: inline-block;
      padding: 0; }
    .contact-wrap .form, .contact-wrap .contact-info {
      padding: 40px;
      padding-top: 10px; }
    .contact-wrap .contact-info {
      color: rgba(255, 255, 255, 0.5); }
      .contact-wrap .contact-info ul li {
        margin-bottom: 15px;
        color: rgba(255, 255, 255, 0.5); }
        .contact-wrap .contact-info ul li .wrap-icon {
          font-size: 20px;
          color: #fff;
          margin-top: 5px; }
    .contact-wrap .form {
      background: #fff; }
      .contact-wrap .form h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px; }
    .contact-wrap .contact-info {
      height: 100vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      .contact-wrap .contact-info a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      @media (max-width: 1199.98px) {
        .contact-wrap .contact-info {
          height: 400px !important; } }
      .contact-wrap .contact-info h3 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 30px; }
  
  label.error {
    font-size: 12px;
    color: red; }
  
#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }
.msg-sent-box{
  text-align: center;
  margin: 2rem 0 1.5rem 0;
}
.msg-sent-icon{
  font-size: 40px;
  color: rgb(0, 200, 81);
}
.msg-sent{
  font-size: 18px;
  font-family: MadeTomyMedium;
  margin: 0;
}
.msg-sent-btn{
  display: block;
  width: 240px;
  margin: 0 auto 5rem auto;
  padding: 0.5rem;
  background-color: rgb(33, 37, 41);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: MadeTomyRegular;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(161, 161, 161);
  -webkit-box-shadow: 5px 5px 10px rgb(161, 161, 161);
  -moz-box-shadow: 5px 5px 10px rgb(161, 161, 161);
}
.msg-sent-btn:hover{
  background-color: rgb(16, 18, 19);
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px){
  .msg-sent-icon{
    font-size: 50px;
  }
  .msg-sent{
    font-size: 20px;
  }
  .msg-sent-btn{
    width: 340px;
  }
}
@media screen and (min-width: 992px){
  .msg-sent-icon{
    font-size: 60px;
  }
  .msg-sent{
    font-size: 22px;
  }
  .msg-sent-btn{
    width: 370px;
    font-size: 18px;
    margin: 0 auto 8rem auto;
  }
}